In [2]:
import pandas as pd
import numpy as np

In [18]:
df=pd.read_csv("Desktop/clean.csv")
df.head()

/home/mint/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (5,15,16,19,21,22,23,24,25,26,27,28,29,30,31,32,34,35,39,40,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,81,82,83,85,86,87,88,89,90,91,93,94,95,96,97,98,100,101,102,103,105,106,107,109,112,113,119,121,126,128,129) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,RecNo,UserID,DateEdited,LockRec,Claimant,PlaintiffName,Match,IndexNo,LeadCaseIndexNo,...,Unnamed: 119,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126,Unnamed: 127,Unnamed: 128
0,0,1,JMA,7/18/2006 3:04:00 PM,False,"AARON,HUBERTT,SR","ARNOWITZ,MORRISH",NaN,404829,LEAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,SYSTEM,3/24/2005 4:16:00 PM,False,"AARON,JAMES","BOONE,CHERYL/GEORGEW(EST)",NaN,404581,LEAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,SYSTEM,1/22/2009 7:50:00 PM,False,"AARON,LINDA","ALDAN,JOHNW",NaN,404798,LEAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4,EWILLIAMS,7/7/2016 3:34:00 PM,False,"AARON,ROBERTL,SR","TINDEL,MARTIN/MARY",NaN,B172739,LEAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5,TLONG,1/29/2007 5:20:00 PM,False,"AARSTAD,BRUCE","ANDES,EDWARD",NaN,04C786,LEAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
a=[x for x in df['PlaintiffName']]
b=[x for x in df['Claimant']]

In [28]:
f=[]
for name in a:
    if name in b:
            f.append(name)

In [40]:
# f= pd.DataFrame(f) 
# f.count()
len(f)

55362

In [36]:
df3=df[df['PlaintiffName'].isin(f)]

In [42]:
df3.head()
df3.count()
df3.to_csv('/home/mint/Desktop/df3.csv')

In [ ]:
output=pd.read_csv()